{% extends 'Car/base.html'%}

{%block title%} Home Page {%endblock%}

{%block contant%}
    <div class="header">
        <h1 id="font">RentalCars.com: Car Rentals - Special Offers Online Compare</h1>
        <h4>Rating: 5/5<spn>&#9733;</spn></h4>
        <img id="imgHome"src="{{ image_url }}" />
        <p id="text">The Biggest Car Rental Brands & Bock Online in a Few Single Dps. We Speak Your Language. 
            No Credit Card Fass Unbeable Prices Types: Factory Mini Compact, People carr Intormedals,
            Premum 4, Estate, SUV, Corventible</p>
            <a href="https://www.google.com/">Learn more...</a>
    </div>
{%endblock%}
