{% extends 'home/base.html' %}

{% block title %} Favorite Games {% endblock %}

{% block content  %}

<div class="fav_games" >

<ul> Favorite Games <br><br>
  <li><img  src="/static/imges/crash.jpg" alt="crash game" ><br> Crash </li><br>

  <li><img  src="/static/imges/tarzan.jpg" alt="Tarzan game"  ><br>Tarzan  </li><br>
  
  <li><img  src="/static/imges/Driver.jpg" alt="Driver game" ><br> Driver</li><br>
  
  <li><img  src= "/static/imges/fifa.jpg" alt="FIFA game" ><br> Fifa </li><br>

</ul>
</div>

{% endblock %}