<!DOCTYPE html>
<html>
<header>
    <title>favorateGames</title>
</header>

<body>
 
<ul style="font-size:large; color:blue;"> Favorite Games <br><br>


  <li><img src="https://upload.wikimedia.org/wikipedia/en/a/a3/IAT_Crash_Bandicoot.png" alt="crash game" height="75" width="120"><br> Crash </li><br>

  <li><img src="https://m.media-amazon.com/images/M/MV5BMDIyNGVkYzItZWY1OS00MmI1LTliMjItZTk5ZWMyZTMzMzcwXkEyXkFqcGdeQXVyMTI1Mzg0ODA5._V1_FMjpg_UX1000_.jpg" alt="Tarzan game"  height="75" width="120" ><br>Tarzan  </li><br>
  
  <li><img src="https://upload.wikimedia.org/wikipedia/en/e/e3/Driver_San_Francisco_Box_Art.jpg" alt="Driver game"  height="75" width="120"><br> Driver</li><br>
  
  <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg42qGOOi1CzPdQjJTFCvYQ75vpl3Vu7SQjPgMVQEXSm_aTr6rdV0ZqZIBWkUaXUTIMgI&usqp=CAU" alt="FIFA game"  height="75" width="120"><br> Fifa   </li><br>

</ul>
</body>
</html>