{% extends 'home/base.html' %}
{% load static %}

{% block title %} CaresRental {% endblock %}

{% block content %}

<div>
  <h1> CarsRental.com - specal offers online </h1>

  <h4 > Rating: 5/5 <span class="star">★</span></h4> 
  
  <img class="cars" src="/static/imges/cars.jpg" />

  <p> A car rental, hire car or car hire agency is a company that rents automobiles for short periods of time to the public, generally ranging from a few hours to a few weeks.
  It is often organized with numerous local branches (which allow a user to return a vehicle to a different location), and primarily located near airports or busy city areas and often complemented by a website allowing online reservations  <a href="https://en.wikipedia.org/wiki/Car_rental"> Learn more...</a>  
</p>
</div>

{% endblock %}