{% extends 'main/base.html' %}


{% block title %} Favorite Games {% endblock %}

{% block content  %}


<div>
         <h2>My Favorite games</h2>
        <ul>
           <h3> <ol>- <a href={{pubg_website}}>PUBGmobile </a></ol></h3>
           <h3><ol>- <a href={{call_website}}> Call Of Duty</a></ol></h3>
           
        </ul>
        
        <img src="/static/images/pubg.jpg" width="300" height="300"/>
        <img src="/static/images/Call.jpg" width="300" height="300"/>
</div>
{% endblock %}