{% extends 'main/base.html' %}
{% load static %}


{% block title %} Favorite Games {% endblock %}

{% block content  %}
    <div>
        <h1>Welcome to Favorite Games Page </h1>
        <h3>My Favorite games are :</h3>
        <ol>
        {% for games in games %}
            <li>{{ games }}</li>
        {% endfor %}
        </ol>   
    </div>
    
    <div class="games-container">
        <div class="game">
            <img src=" {% static 'images/crash.png' %}" alt="Crash" style="width:100%">
             <div class="container">
                 <p>Crash</p>
             </div>
        </div>

        
        <div class="game">
            <img src="{% static 'images/CallOfDuty.jpeg' %}" alt="Call Of Duty" style="width:100%">
            <div class="container">
                <p>Call Of Duty</p>
            </div>
        </div>

        <div class="game">
            <img src="{% static 'images/Brawlhala.jpeg' %}" alt="Brawlhala" style="width:100%">
            <div class="container">
                <p>Brawlhala</p>
            </div>
        </div>
    </div>
    {% endblock %}
