{% extends 'main/base.html' %}
{% load static %}
{% block title %} Cars {% endblock%}


{% block content %}
    <div class="home">
        <div class="box">
            <h1>RentalCars.com: Car Rentals - Special Offers Online</h1>
            <span class="heading">Rating 5/5</span>
            <span class="fa fa-star checked"></span>
            <img src="{% static 'images/Cars.jpeg' %}" />
            <p>Compare The Biggest Car Rental Brands & Book Online in a Few Simple Steps. We Speak Your Language. No Credit Card Fees. Unbeatable Prices. Types: Economy, Mini, Compact, People carrier, Intermediate, Premium, 4x4, Estate, SUV, Convertible.</p>
    
            <p><b><a href="https://rentalcars.com" target="_blank">Learn more..</a></b></p>
        </div>  
    </div>

{% endblock %}
