{% extends 'main/base.html' %}
{% load static %}

{% block title %} Cares Rental {% endblock %}

{% block content %}
    <body>
        <div class="a">
            <h1>Car Rentals Special Offers Online </h1>
            <h4>Rating: 5/5 ⭐️ </h4>
            <img class="im" src="{% static 'images/cars.jpg' %}" width="600" height="400"/>
            <p>Compare car hire on price, ease of pick-up, a fair fuel policy and Find Riyadh car rental deals you can amend or cancel if your plans change</p>
            <a href="https://www.skyscanner.net/car-hire-in/car-hire-in-riyadh/27546223.html?&utm_source=google&utm_medium=cpc&utm_campaign=XY-Car+Hire-Search-EN-DSA&utm_term=DYNAMIC+SEARCH+ADS&associateID=SEM_GGC_19370_00012&gclid=CjwKCAiA3aeqBhBzEiwAxFiOBp8yKnbzsWqlCxUgyF4w6biRgqcyOLYnIZ74elMzcA3ZcT9oOoJ3FRoCSjkQAvD_BwE&gclsrc=aw.ds">Learn More..</a>
        </div>
 
        {% endblock %}