{% extends 'main/base.html' %}

        {% block title %}Home{% endblock%}

        {% block content %}

        <div style="border:hidden; margin:30px;" class="box-with-shadow">
            <h1 style="font-family: 'Inter', sans-serif; margin:20px; padding:20px">Welcome to My Website</h1>
            <p style="color:gray; margin:20px; padding:20px">Rating 5/5 <span style="color: #FFD700;">★</span></p>
            <div class="image-container" style="margin:20px; padding:20px">
                <img src="https://hips.hearstapps.com/hmg-prod/images/10best-cars-group-cropped-1542126037.jpg" class="cars-image" />
            </div>
            <p style="margin:20px; padding:20px">description about cars bla bla bla</p>
            <a href="" style="margin:20px; padding:20px">Learn More...</a>
        </div>
    
          {% endblock %}