<!DOCTYPE html>
<html>
<head>
    <title>Password Gen</title>
</head>
<body>
    <p>New password : {{ random_password }}</p>
    <h2><b>Our services: </b></h2>

        <a href="{% url 'home' %}" style="padding-left: 15px; padding-right: 15px;">Home</a>
        <a href="{% url 'today' %}" style="padding-left: 15px; padding-right: 15px;">Today</a>
        <a href="{% url 'random_password' %}" style="padding-left: 15px; padding-right: 15px;">Password Generetor</a>
        <a href="{% url 'favorite_games' %}" style="padding-left: 15px; padding-right: 15px;">Favorite Games</a>
</body>
</html>