<!DOCTYPE html>
<html>

<head>
    <title> Rental Cars </title>

    <style>
      
      .bigBox{
        font-family: Arial;
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
        box-shadow: 5px 10px 8px #888888;
        
      }

       .serv{
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;

       }

        
        #checked{
            color: orange;
        }


        .img{
           
            width: 700px;
            position: relative;
            left: 55px;
        

        }


    </style>

</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <div class="bigBox">
    <h1>RentalCras.com:Cars Rental - Special Offers Online </h1>
   

    <div class="rate">
    <span class="heading"> Rating : 5/5</span>
    <span id="checked" class="fa fa-star checked" > </span>
        
    </div>



    <img class="img" src="https://hips.hearstapps.com/hmg-prod/images/10best-cars-group-cropped-1542126037.jpg" width="100" height="auto">

    <p>Compare the Biggest Car Rental Brands & Books Online in a Few Simple Steps. We Speak Your Language. No Credit Cards Fees</p>

    <a href="https://www.rentalcars.com/" > Learn more </a>


</div>

<div class="serv">
    <h3>Our Services</h3>
    <a href="/" > Home </a>
    <a href="today/" > &nbsp; &nbsp;Today </a>
    <a href="random/pass" >&nbsp; &nbsp; Random Password </a>
    <a href="favs/games" > &nbsp; &nbsp;Favorite Games </a>




</div>





</body>


</html>