{% extends 'main/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% block title %} CarsRentals.com {%endblock%} </title>
    
</head>
{% block content %}
<body>
    <div class="card">
        <h1>Car Rental Search, Compare & Save</h1>
        <h5>Rating 5/5 <span class="star-char">★</span></h5>
        <img class="card-image" src="{% static 'images/cars.jpg' %}" alt="a group of cars" />
        <p>Brest is a city located in the Finistere department in Brittany in northwestern France. Brest is renowned for its Pont de Recouvrance, the rue de Siam,and the military arsenal. The castle and the Tanguy tower are the oldest monuments of Brest. The Musee national de la Marine de Brest houses in the primeval castle comprises exhibits which delineate Brest's maritime tradition as well as aquarium named Oceanopolis marine centre. Brest also has a renowned botanical garden, the Conservatoire botanique national de Brest as well as the Jardin botanique de l'Hopital d'Instruction des Armees Clermont-Tonnerre.</p>
        <a href="https://carsrentals.com">Learn More...</a>

</body>
    {%endblock%} 
