<!DOCTYPE html>
<html>
<head>
    <title> Random Password </title>

    <style>
        .header{
            color:black;
            text-align:center;
            font-size: 100px;
        }


        .pass{
            color:cornflowerblue;
            position: static;
            border: 2px solid cornflowerblue;
            text-align:center;
            font-size: 100px;
        }


    </style>

</head>
<body>

    <h1 class="header"> Random Password :</h1>

    <div class="pass">
        {{pass}}
    </div>


</body>


</html>