<!DOCTYPE html>
<html>
<head>
    <title> Date For Today </title>

    <style>
        .header{
            color: burlywood;
            text-align:center;
            font-size: 100px;
        }


        .date{
            color: cadetblue;
            position: static;
            border: 2px solid cadetblue ;
            text-align:center;
            font-size: 100px;
        }


    </style>

</head>
<body>

    <h1 class="header"> Today's date is :</h1>

    <div class="date">
        {{date}}
    </div>


</body>


</html>