
{%extends 'main/base.html'%}

{% block content %}        
        <div class="content">

                <div class="intro">
                    <h1>RentalCars.com:Cars Rental-special Offers Online</h1>
                    <img src="https://hips.hearstapps.com/hmg-prod/images/10best-cars-group-cropped-1542126037.jpg" style="width: 100%; object-fit: fill;" />
                    <p>Are you looking for a convenient and reliable way to rent a car anywhere in the world? You've come to the right place! We offers a wide selection of cars to fit all needs and budgets. Whether you need a small city car for getting around town or a large SUV for cross-country travel, you'll find what you're looking for with us.</p>
                    <h6><a href="https://en.wikipedia.org/wiki/Car_rental">Learn more</a></h6>
                </div>

        </div>
{%endblock%}