<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Password</title>

    <style>
        div{
            text-align: center;
            color: brown;
            border: solid blue;
            box-shadow: 10px 10px 5px;;
            width: 50%;
            padding: 2pc;
            border-radius: 20%;
            margin-top: 30px;
            
        }
        body{
            background-color: black;
        }
    </style>
</head>
<body>

    <div>
        <h1>Random Password</h1>
        <h2>{{password}}</h2>
    </div>
    
</body>
</html>