



{% extends 'project/base.html' %}
{% load static %}

{% block title %} Cares Rental {% endblock %}

{% block content %}
    <div class="card">
        <h1>Car Rental spcial offers online</h1>
        <h5>Rating 5/5 <span class="star-char">★</span></h5>
        <img class="card-image" src="{% static 'image/cars.jpg' %}" alt="a group of cars" />
        <p>Car Rental – Search, Compare & SaveCar Rental – Search, Compare & SaveCar Rental – Search, Compare & SaveCar Rental – Search, Compare & SaveCar Rental – Search, Compare & SaveCar Rental – Search, Compare & SaveCar Rental – Search, Compare & SaveCar Rental – Search, Compare & Save</p>
        <a href="https://carsrentals.com">Learn More...</a>
    </div>
{% endblock %}