<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>{% block title %}  {% endblock %}</title>
    <link href="/static/css/main.css" rel="stylesheet" />
</head>
<body>
  
    <div>

        <nav class="nav">
            <img class="logo" src="/static/images/loge_images1.png" />

            <div class="nav-links">
                <a href="/">Home</a>
                <a href="{% url 'main:random_pass_views' %}">password generator</a>
                <a href="{% url 'main:today_views' %}">today</a>
                <a href="{% url 'main:fava_games_views' %}">Fav Games</a>
              </div>   
            </nav>
                {% block content %}

                {% endblock %}
         
         
                <footer>
                 <h5>Lama , 2024 All rights reserved</h5>
                </footer>
           
            </div>
</body>
</html>