{% extends 'main/base.html' %}


{% block title %} Favorite Games {% endblock %}

{% block content  %}
        <h1 class="h1">My favorite games list:</h1>

        <div class="games-con ">
            {% for game in games %}

                <div class="game-card">
                    <img  src="{{game.image}}" />
                    <div class="game_title">
                        <h4>{{ game.title }}</h4>
                    </div>
                    
                </div>
                

            {% endfor %}
        </div>

{% endblock %}

