<!DOCTYPE html>
<html>

<head>

<style>

.css-box {
            margin-top: 50px;
            margin-bottom: 50px;
            border: 4px solid black;
            padding: 10px 50px;
            width: 400px;
            border-bottom-width: 20px;
            border-radius: 10px;
        }
        .card img {
            width: 100%;
            height: 350px;
            border-radius: 15px;
            object-fit: cover;}

</style>


</head>

<body>
<h1> RentalCars.com:Car Rentals.Special Offers Online</h1>
<div class="box">
</div>    
<div class="card">
<img src="https://hips.hearstapps.com/hmg-prod/images/10best-cars-group-cropped-1542126037.jpg "/>
</div>

<div class="text">
    <p> Compart The Biggest Car Rental Brands & Book Online in a Few Simple Steps. We Speak Your Language. No Credit Card Fees.Unbeatable Prices. Types: Economy,Mini,Compact,People carrier,Intermediate,Premium,4x4,Estste,SUV,Convertible.</p>
</div> <!-- end text -->



</body>



</html>