{% extends 'main/base.html' %}

{% block content %}
<div class = "box1">
    <br>
    <h1 id = "font">RentalCars.com: Car Rentals - Special Offers Online</h1>
    <br>
    <p id = "rating-color">Rating: 5/5⭐</p>
    <img class="cars-image"  src="https://hips.hearstapps.com/hmg-prod/images/10best-cars-group-cropped-1542126037.jpg" alt="car" />
    <p>Compare The Biggest Car Rental Brands & Book Online in a Few Simple Steps. We Speak Your Language. No Credit Card Fees. Unbeatable Prices. Types: Economy , Mini, Compact, People carrier,Intermediate, Premium, 4x4, Estate, SUV, Convertible.</p>
    <a href="https://www.iyelo.com/ar/home/index">Learn More..</a>
    <br><br>
</div>
  <div class = "box">
  <ul >

        <h3>Our Services</h3>
        <br>
        <li><a href="/"> Home </a></li>

        <li><a href="/today/"> Today </a></li>

        <li><a href="/random/pass/"> Password Generator </a></li>

        <li><a href="/favs/games/"> Favorite games </a></li>
    </ul>
</div> 

{% endblock %}