<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>{% block title%} {% endblock %}</title>
    <link href="/static/css/main.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <img class="game-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQ5rd77GtrlR9JVyVG7CWCMmtu3ygylHWrRA&usqp=CAU" />
        <div class = "nav-links"> 
            <a href="">Home</a>
            <a href="{% url 'main:today_date' %}">today_date</a>
            <a href="{% url 'main:random_password' %}">random_password</a>
            <a href="{% url 'main:cars_rentals' %}">cars_rentals</a>
            <a href="{% url 'main:fav_games_list'%}">fav_games_list</a>

        </div>
    </nav>

    {% block content %}
     {% endblock %}

     <footer>
        <h5> Copyright 1999-2023 by Refsnes Data. All Rights Reserved.NAIF </h5>
     </footer>

</body>
</html>