{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Website of Car Rentals
{% endblock %} 

{% block content %}
<div class="container">
    <h1 style="color:black"> RentalCars.com: Car Rentals - Special Offers Online</h1>
    <h4 class="Rating" style="color: gray"> Rating: 5/5 ⭐</h4>
    <img class="container-image" src="https://lumiere-a.akamaihd.net/v1/images/open-uri20160811-32147-ybg65r_0a6d1a69.jpeg?region=0,0,640,360">
    <p>Compare Car Rental Brands</p>
    <a href="https://www.GOOGLE.com/">Learn more...</a>

</div>
{% endblock %}