{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Website of Car Rentals
{% endblock %} 
       
{% block content %}
<div class="container">
    <h1 style="color:black"> RentalCars.com: Car Rentals - Special Offers Online</h1>
    <h4 class="Rating" style="color: gray"> Rating: 5/5 ⭐</h4>
    <img class="container-image" src="https://th.bing.com/th/id/R.f3319ec986a766f865dbbbd8403602e7?rik=szOyQ0NMW4PLJA&pid=ImgRaw&r=0">
    <p>Compare The Biggest Car Rental Brands & Book Online in a Few Simple Steps. We Speak Your Language. No Credit Card Fees. Unbeatable Prices. Types: Economy Mini, Compact, People carrier, Intermediate, Premium, 4x4, Estate, SUV, Convertible.</p>
    <a href="https://www.rentalcars.com/">Learn more...</a>

</div>
{% endblock %}
            