<!DOCTYPE html>
<html>
    <head> 
    <title> Favorites games</title>
    <style>
        h1{
            border-style: dotted;
            font-family: 'Ubuntu', sans-serif;
            margin: 50px 40px 20px 10px;
            background-color: aqua ;
            color: magenta;
            text-align: center;
        }

        h3{
            color: blueviolet;
        }

        img{
            width: 200px;
            height: 200px;

        }
    </style>
    </head>
    <body>
        <h1> My favories Games </h1>
        <div class="games"> 
            <img src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/2x1_NSwitchDS_Overwatch2_Season6_image1600w.png"alt="Game 1">
            <h3> Game 1 : Overwatch</h3>
            <img src="https://static-prod-web.miniclip.com/assets/news/17_PR_SYBO.jpg" alt="Game 2">
            <h3> Game 2: Subway surfers</h3>
            <img src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_801/b_white/f_auto/q_auto/ncom/en_US/games/switch/s/sudoku-casual-puzzle-switch/hero" alt="Game 3">
            <h3> Game 3: SUDOKU</h3>
            <img src="https://static.wikia.nocookie.net/cluedo/images/3/37/Cluedo_2023.jpg/revision/latest/smart/width/386/height/259?cb=20230424230949" alt="Game 4">
            <h3> Game 4: Cluedo </h3>
        </div>

    </body>
</html>