{% extends 'main/base.html' %}
{% load static %}
{%block title %}Home Page{% endblock%}
{%block content%}
        <div class="rentalcars-content">
       <h1>RentalCars.com: CarsRentals -Special Offers Online</h1>
       <h4>Rating:5/5⭐</h4>
       <img src='{% static "images/cars.jpeg" %}' height="300" width="800">
       <p>Compare The Biggest Car Rental Brands & Book Online in a Few Simple Steps. We Speak Your Language. No Credit Card Fees. Unbeatable Prices. Types: Economy Mini, Compact, People carrier, Intermediate, Premium, 4x4, Estate, SUV, Convertible.</p>
       <a href="https://www.rentalcars.com/?affiliateCode=google&preflang=us&label=generic:mdzScgnf4KMGkANFVZv*thvg:tyS:cr507740556694:pl:ta:p1:p2:ac:ap:neg:fi:tikwd-21068310:lp1012088:li:dec:dm:ws&gad=1&gclid=CjwKCAiA3aeqBhBzEiwAxFiOBhf2EG5aHxnRiIA9iguIxByStofZ4CmmJcfG8kQZt62U5UW69dl9ghoCrBEQAvD_BwE">Learn More..</a>
        </div>
{%endblock%}
