{% extends 'RentalCar/base.html' %}
{% load static %}

{% block title %} Favorite Games {% endblock %}

{% block content  %}
   
  


  
    <h1 id = "font">Favorite Games</h1>
    {% for games in games %}
    <hr>
    <br>
      {% if games == "pubg"%}
       {{games}}:
       <br>
       <img class = "image-game"src="{% static 'images/game1.png' %}" alt="game1" />
       <br>
       {% elif games == "crash"%}
       <br>
       {{games}}:
       <br>
        <img class = "image-game" src = "{% static 'images/game2.jpg' %}" alt = "game2" />
       <br>
       {% elif games == "fortnite"%}
       <br>
       {{games}}:
       <br>
       <img class = "image-game" src = "{% static 'images/game3.jpeg' %}" alt = "game3" />
       {% endif %}
    {% endfor %}
       <hr>

       {% endblock %}