{% extends 'RentalCar/base.html' %}
{% load static %}

{% block title %} Home Page  {% endblock %}

{% block content  %}

<div class = "css-box">
    <br>
    <h1 id = "font">RentalCars.com: Car Rentals - Special Offers Online</h1>
    <p id = "rating-color">Rating: 5/5⭐</p>
    <img src="{% static 'images/base.jpg' %}" alt="cars" />
    <p>Compare The Biggest Car Rental Brands & Book Online in a Few Simple Steps. We Speak Your Language. No Credit Card Fees. Unbeatable Prices. Types: Economy , Mini, Compact, People carrier,Intermediate, Premium, 4x4, Estate, SUV, Convertible.</p>
    <a href="https://www.rentalcars.com/?affiliateCode=google_brand&preflang=ar&label=rentalcars.com-brand:mdaH2PTdJa263pugiuJRgAgQ:tyS:cr659148576446:pl:ta:p1:p2:ac:ap:neg:fi:tikwd-29977620:lp1012088:li:dec:dm:ws&gclid=CjwKCAiA3aeqBhBzEiwAxFiOBgnQghzUGOwj3mEybqP910VZQImpJZitquqVto71Mk95Odr0ZcCrABoCWCoQAvD_BwE">Learn More..</a>
</div>
{% endblock %}