.logo {
    width: 60px;
}

.date {
    text-align:left;
    font-size: 20px;
  }

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-family: 'ubuntu', sans-serif;
}

nav {
    background-color:pink;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:15px;
}

nav a {
    text-decoration: none;
}

footer{
    border-top: 1px solid purple;
    color: palevioletred;
    padding-top: 10px;
    margin-top:40px;
    text-align: center;
    font-family: 'ubuntu', sans-serif;
}

.smile-face-logo{
    color: purple;
    width: 90px;
}


.container{
    margin: 10px auto;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    font-family: 'Ubuntu', sans-serif;
}

.container-image {
    width: 100%;
    height: 400px;
    object-fit:cover;
    border-radius: 20px;
}

.games-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:20px;
    flex-wrap: wrap;
}

.game-card {
    width: 20vw;
    background-color: rgb(240, 240, 240);
}

.game-content {
    padding: 5px;
}

.game-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}