{% extends 'home/base.html' %}
{% load static %}

{% block title %} Home Page {% endblock %}

{% block content %}
    <link href="/static/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <!--Home Page-->
 <div class="box">
    <h1>RentalCars.com: Car Rentals - Special Offer Online</p>
        <h5>Rting 5/5 <span>⭐</span></h5>
        <img src="https://hips.hearstapps.com/hmg-prod/images/10best-cars-group-cropped-1542126037.jpg?crop=1.00xw:0.822xh;0,0.152xh&resize=1200:*"
            alt="">
        <p id="paragraph">
            Car rentals offer individuals the convenience of temporarily using a vehicle without the
            long-term commitment and responsibilities of ownership. Whether for leisure or business purposes,
            car rental services provide a wide range of vehicles to choose from, catering to various needs
            and preferences. Customers can rent cars for short or extended periods, making it a flexible
            transportation solution for travel, daily commuting, or special occasions. Car rentals often come
            with added benefits such as insurance coverage and maintenance, making them a popular choice for
            those looking for mobility and flexibility without the hassles of owning a car.
        </p>
        <a href="https://www.economycarrentals.com/en-us/y2/car-rental-one-way?src=google&team=632-185-8410&network=g&campaignid=1593958259&adgroupid=114936958726&targetid=kwd-19818600&loc_physical_ms=9076977&matchtype=b&device=c&creative=490526999907&keyword=one%20way%20car%20rental&cmp=dsa&adg=505&ad=rsa505&gad=1&gclid=Cj0KCQiAuqKqBhDxARIsAFZELmIUHt4vy_r0FpCOWuGwWow2HiJoemeghpul4hqN9uA4-W2LMX3n60YaAlsjEALw_wcB&c=SA">Learn more</a>
</div>
   
{% endblock %}